.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/images/background_img.jpg") no-repeat center center/cover; 
}

.forgot-password-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.forgot-password-container .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.forgot-password-container h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.forgot-password-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-container input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-container .reset-password-btn {
  padding: 10px;
  font-size: 1rem;
  background-color: #4a69bd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-password-container .reset-password-btn:hover {
  background-color: #2c3e50;
}
